include /etc/ldap/schema/core.schema
include /etc/ldap/schema/cosine.schema
include /etc/ldap/schema/nis.schema
include /etc/ldap/schema/inetorgperson.schema

pidfile /var/run/slapd/slapd.pid
argsfile /var/run/slapd/slapd.args

modulepath /usr/lib/ldap
moduleload back_mdb.la

database mdb
suffix "dc=adsso,dc=local"
rootdn "cn=admin,dc=adsso,dc=local"
rootpw __ADMIN_PW_HASH__
directory /var/lib/ldap

index objectClass eq
